@model List<Hospital>

<h1>Lista de hospitales</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Create">
        New hospital
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Camas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital h in Model)
        {
            <tr>
                <td>@h.Nombre</td>
                <td>@h.Direccion</td>
                <td>@h.Telefono</td>
                <td>@h.Camas</td>
                <td>
                    @Html.ActionLink("Details", "Details","Hospitales"
                    , new { idhospital = h.IdHospital}) | 
                    @Html.ActionLink("Edit", "Edit", "Hospitales"
                    , new { idhospital = h.IdHospital}) | 
                    @Html.ActionLink("Delete", "Index", "Hospitales"
                    , new { eliminar = h.IdHospital})
                </td>
            </tr>
        }
    </tbody>
</table>
